guidelines.md
biobb_wf_structure_checking/notebooks/log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_structure_checking/notebooks/*.png
biobb_wf_structure_checking/notebooks/*.gif
biobb_wf_structure_checking/notebooks/*.web.ipynb
biobb_wf_structure_checking/notebooks/*.docs.ipynb
biobb_wf_structure_checking/notebooks/*.pdb
biobb_wf_structure_checking/notebooks/*.crd
biobb_wf_structure_checking/notebooks/*.log
biobb_wf_structure_checking/notebooks/*.rst
biobb_wf_structure_checking/notebooks/*.top
biobb_wf_structure_checking/notebooks/*.fasta
biobb_wf_structure_checking/notebooks/*.json
biobb_wf_structure_checking/docs/notebooks/
biobb_wf_structure_checking/html/biobb_wf_structure_checking.web.ipynb
*.old.ipynb
*.bk.ipynb
.DS_Store
